@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

html, body {
  background-color: rgb(248 250 252);
  color: rgb(15 23 42);
}

html.dark, html.dark body {
  background-color: rgb(2 6 23);
  color: rgb(241 245 249);
}
